<div class="heading-container heading-resize heading-no-button">
    <div class="heading-background heading-parallax bg-hakkimizda" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].HakkimizdaImage }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-wrap">
                        <div class="page-title">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>