<form method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Silme İşlemi Yapılacak Emin Misiniz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Sil</button>
</form>
