{% extends 'base.html.twig' %}

{% block title %}Edit Orderdetail{% endblock %}

{% block body %}
    <h1>Edit Orderdetail</h1>

    {{ include('orderdetail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('orderdetail_index') }}">back to list</a>

    {{ include('orderdetail/_delete_form.html.twig') }}
{% endblock %}
