<div class="heading-container heading-resize heading-no-button">
    <div class="heading-background heading-parallax bg-referance" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].ReferansImage }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-wrap">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>