{% extends 'admin/base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block content %}
    <h1>Kategori Düzenle</h1>
    {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }} <br>
{% endblock %}
