{% extends 'admin/base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block content %}
    <h1>Yeni Kategori Ekle</h1>
    {{ include('admin/categories/_form.html.twig') }}
{% endblock %}
