{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {% if (label=='guncelle') %}
            <script>swal("Güncelleme İşlemi Başarılı", "", "success");</script> {{ flash }}
        {% elseif(label == 'ekle') %}
            <script>swal("Ekleme İşlemi Başarılı", "", "success");</script> {{ flash }}
        {% elseif(label == 'sil') %}
            <script>swal("Silme İşlemi Başarılı", "", "info");</script> {{ flash }}
        {% elseif(label == 'warning') %}
            <div class="alert alert-danger">
                <strong>ERROR!</strong> {{ flash }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}